@charset "UTF-8";
/*Définition des polices*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/*COULEURS*/
/*BTN*/
/*btn*/
/*POLICES*/
/*MEDIA QUERIES*/
/*Application large devices*/
/*Application x-large devices*/
/*Disposition dans l'espace*/
/*loader spinner*/
.spinner {
  height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  animation: spinner 2s linear;
  visibility: hidden;
}
.spinner__border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
  border-top: 10px solid #99E2D0;
  border-bottom: 10px solid #ff79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spinner-border 2s linear;
  z-index: 10;
  visibility: hidden;
}
.spinner__center {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #9356DC;
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner-border {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
/*FONDU ACCUEIL*/
.accueil {
  position: relative;
  /* animation: fade-in 5s ease-in;*/
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*BOUTONS*/
.present_button {
  /*command_button*/
  width: 220px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(to left, #ff79DA, #9356DC);
  font-size: 1rem !important;
  font-weight: bold;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 35px;
  margin-right: 65px;
  margin-left: 65px;
  background-size: 200%;
  transition: 0.6s;
  cursor: pointer;
}
.present_button:hover {
  border-radius: 30px;
  background-position: right;
  transform: translate(0, -6px);
}

/*COEUR ANIME*/
.animate_heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.animate_heart .heart-full {
  position: absolute;
  fill: url(#textfill);
  stroke: none;
}

.animate_heart .heart-empty {
  position: relative;
}

.animate_heart .heart-empty:hover {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*.heart_icon {
    fill: transparent;
    stroke: /*var(--purple)*  linear-gradient(to right, #ff79DA, #9356DC);
    stroke-width: 20;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
} 

svg {
    overflow: visible;
    width: 30px;  
}

path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
}

.heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
}

.heart-main:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
}

.heart-main:hover ~ .heart-background path {
    animation: fade-animation 2s ease-in-out forwards;
}

@keyframes stroke-animation {
    0% {
      stroke-dashoffset: 0;
    }
    30% {
      stroke-dashoffset: 1550;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: linear-gradient(to right, #ff79DA, #9356DC);

      transform: scale(1.1);
    }
    90% {
      transform: scale(1);
    }
    100% {
      stroke-dashoffset: 3100;
      fill: /*var(--purple)*linear-gradient(to right, #ff79DA, #9356DC);
    }
  }

@keyframes fade-animation {
    70% {
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: var(--purple-light);
      transform: scale(1.1);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
}

/*EFFET CHECK BOX*/
.resto_item:hover .check_box i {
  transform: rotate(1turn);
  transition: all 500ms ease-in-out;
}

.resto_item:hover .check_box {
  animation: item-appear 700ms forwards;
  transform: scale(1);
}

.resto_item:hover .menus__description--price {
  animation: slide-left 0.5s forwards;
  /*transform: translateX(0);*/
  font-size: 1.3rem;
}

.resto_item:hover .title-subtitle-txt {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes item-appear {
  from {
    transform: translate(25px);
  }
  to {
    transform: translate(0);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
/*APPARITION PROGRESSIVE DES MENUS*/
.menu_list {
  animation: slide-in-bottom 5s ease-in-out forwards;
  animation: opacity 1s both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#entree-1 {
  animation: slide-in-bottom 1500ms 100ms;
  opacity: 0.1 s;
}

#entree-2 {
  animation: slide-in-bottom 1500ms 200ms;
  opacity: 0.2 s;
}

#entree-3 {
  animation: slide-in-bottom 1500ms 300ms;
  opacity: 0.3 s;
}

#entree-4 {
  animation: slide-in-bottom 1500ms 300ms;
  opacity: 0.3 s;
}

#plat-4 {
  animation: slide-in-bottom 1500ms 400ms;
  opacity: 0.4 s;
}

#plat-5 {
  animation: slide-in-bottom 1500ms 500ms;
  opacity: 0.5 s;
}

#plat-6 {
  animation: slide-in-bottom 1500ms 600ms;
  opacity: 0.6 s;
}

#dessert-7 {
  animation: slide-in-bottom 1500ms 700ms;
  opacity: 0.7 s;
}

#dessert-8 {
  animation: slide-in-bottom 1500ms 800ms;
  opacity: 0.8 s;
}

#dessert-9 {
  animation: slide-in-bottom 1500ms 900ms;
  opacity: 0.9 s;
}

#dessert-10 {
  animation: slide-in-bottom 1500ms 1000ms;
  opacity: 1 s;
}

/*BOUTONS*/
.present_button {
  /*command_button*/
  width: 220px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(to left, #ff79DA, #9356DC);
  font-size: 1rem !important;
  font-weight: bold;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 35px;
  margin-right: 65px;
  margin-left: 65px;
  /*position: relative;
   z-index: 1;*/
  background-size: 200%;
  transition: 0.6s;
  cursor: pointer;
}
.present_button:hover {
  border-radius: 30px;
  background-position: right;
  transform: translate(0, -6px);
}

h1 {
  font-family: "Shrikhand", "cursive";
  font-weight: bold;
}

h2, h3, h4, p, li, div, a {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  max-width: 100%;
  margin: auto;
}

@media screen and (min-width: 576px) {
  main {
    width: 576px;
    display: flex;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
@media screen and (min-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    width: 768px;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  main {
    width: 992px;
    margin: auto;
  }
}
@media screen and (min-width: 1230px) {
  main {
    width: 1200px;
    margin: auto;
  }
}
@media screen and (min-width: 1390px) {
  main {
    width: 1440px;
    margin: auto;
  }
}

/*loader */
.spinner {
  height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  animation: spinner 2s linear;
  visibility: hidden;
}
.spinner__border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
  border-top: 10px solid #99E2D0;
  border-bottom: 10px solid #ff79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spinner-border 2s linear;
  z-index: 10;
  visibility: hidden;
}
.spinner__center {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #9356DC;
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner-border {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
/*HEADER*/
header {
  text-align: center;
  position: relative;
}
header a {
  color: black;
}
header .fa-arrow-left {
  cursor: pointer;
  position: absolute;
  left: 2rem;
  top: 0.8rem;
  font-size: 1.5rem;
  color: black;
}
header .header_logo {
  font-size: 25px;
}
header .localisation {
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3px;
  margin-top: 0%;
  margin-bottom: 0%;
  box-shadow: inset 0 2px 4px -3px grey;
}
header i {
  color: grey;
  padding-right: 15px;
  padding-left: 15px;
}
header p {
  font-weight: bold;
  font-size: 1.2rem;
  color: grey;
  margin-left: -5px;
}

/*PRESENTATION*/
.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: auto;
}
.presentation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #f4f4f4;
  padding-top: 3rem;
  margin-right: auto;
  line-height: 2rem;
  color: grey;
}
.presentation--tablet {
  display: none;
}
.presentation--mobile {
  display: block;
}

.info1 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
}

.info2 {
  display: flex;
  justify-content: space-evenly;
  color: black;
  text-align: center;
  font-size: 1.1rem;
  margin: 2px;
  line-height: 2rem;
}

form {
  margin: auto;
  text-align: center;
}

/*  .present_button{reste en commentaire)
       display:flex;
       justify-content: space-evenly;
       border-radius: 45px;
       margin: 35px;
       background-image: linear-gradient(to left, $color-secondary, $color-primary);
       font-size: 20px !important;
       font-weight: bold;
       color: #fff;
       padding: 30px 30px;
       /*position: relative;
        z-index: 1;*
       background-size: 200%;
       transition: 0.6s;
       cursor: pointer;    
       &:hover{
           border-radius: 45px;
           background-position: right;
           transform: translate(0, -6px);
       }
   } 

   /*FONCTIONNEMENT*/
.fonctionnement {
  margin: auto;
}

.fonctionnement h2 {
  font-size: 1.5rem;
  margin: 20px;
  padding-top: 20px;
}

.fonction_buttons {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.fonction_button {
  display: inline;
  margin-left: 50px;
  font-weight: 500;
  position: relative;
  border: none;
  text-align: center;
  background-color: #f4f4f4;
  padding: 0 20px 20px 0;
  margin-top: 25px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 0px 6px 0px #0000002E;
}
.fonction_button span {
  background-color: #9356DC;
  position: absolute;
  left: -1rem;
  bottom: 1.6rem;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-right: 15px;
  margin-left: 15px;
  height: 25px;
  width: 25px;
  color: #353535;
}

.icon:hover {
  cursor: pointer;
  color: #9356DC;
}

/*RESTAURANTS*/
.Resto {
  background-color: #f4f4f4;
  height: 1030px;
}
@media screen and (min-width: 576px) {
  .Resto {
    width: 576px;
    height: 650px;
  }
}
@media screen and (min-width: 600px) {
  .Resto {
    width: 600px;
    height: 650px;
  }
}
@media screen and (min-width: 768px) {
  .Resto {
    width: 768px;
    height: 650px;
  }
}
@media screen and (min-width: 992px) {
  .Resto {
    width: 992px;
    height: 650px;
  }
}
@media screen and (min-width: 1230px) {
  .Resto {
    width: 1200px;
    height: 650px;
  }
}
@media screen and (min-width: 1390px) {
  .Resto {
    width: 1440px;
    height: 650px;
  }
}

.Resto h2 {
  margin: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 576px) {
  .Restos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "resto-1" "resto-2" "resto-3" "resto-4";
    width: 576px;
  }
}
@media screen and (min-width: 600px) {
  .Restos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas: "resto-1 resto-2" "resto-3 resto-4";
    width: 600px;
  }
}
@media screen and (min-width: 768px) {
  .Restos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas: "resto-1 resto-2" "resto-3 resto-4";
    min-width: 768px;
  }
}
@media screen and (min-width: 992px) {
  .Restos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas: "resto-1 resto-2" "resto-3 resto-4";
    min-width: 992px;
  }
}
@media screen and (min-width: 1230px) {
  .Restos {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas: "resto-1 resto-2" "resto-3 resto-4";
    min-width: 1200px;
  }
}
@media screen and (min-width: 1390px) {
  .Restos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas: "resto-1 resto-2" "resto-3 resto-4";
    min-width: 1440px;
  }
}

.Resto_figure {
  position: relative;
  width: 87%;
  height: 220px;
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 25px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 17px -9px rgba(0, 0, 0, 0.75);
}

.Resto_figure img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 140px;
  margin: 0;
}

.resto_title {
  padding-left: 10px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-top: 5px;
}

.resto_site {
  margin-top: -10px;
  padding-left: 10px;
}

.Resto_figure--description {
  height: 100%;
  margin-bottom: 0;
  position: relative;
}
.Resto_figure--description span {
  background-color: #99E2D0;
  position: absolute;
  width: 75px;
  height: 30px;
  right: 1rem;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  color: #179b73;
}

/*Coeur anime*/
/*.heart_icon {
    fill: transparent;
    stroke: var(--purple);
    stroke-width: 20;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
} 

svg {
    overflow: visible;
    width: 30px;
}

path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
}

.heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
}

.heart-main:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
}

.heart-main:hover ~ .heart-background path {
    animation: fade-animation 2s ease-in-out forwards;
}

@keyframes stroke-animation {
    0% {
      stroke-dashoffset: 0;
    }
    30% {
      stroke-dashoffset: 1550;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: var(--purple);
      transform: scale(1.1);
    }
    90% {
      transform: scale(1);
    }
    100% {
      stroke-dashoffset: 3100;
      fill: var(--purple);
    }
  }

@keyframes fade-animation {
    70% {
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: var(--purple-light);
      transform: scale(1.1);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
}

/*FOOTER*/
.footer {
  background-color: #353535;
  padding-bottom: 30px;
  margin-top: 0px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}
.footer h1 {
  margin-top: 0;
  padding-top: 20px;
  padding-left: 40px;
  margin-bottom: 15px;
  font-family: "Shrikhand";
}
.footer ul {
  list-style: none;
  line-height: 1rem;
}
.footer i {
  font-size: 1.2rem;
  width: 1.6rem;
  color: white;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  margin-right: 15px;
}
.footer a {
  color: white;
  font-style: normal;
}
.footer li {
  margin-bottom: 15px;
  font-size: 1rem;
}

.footer_bloc:hover .foot_news li a {
  text-decoration: underline;
}

/*MENUS* ........................................................
LE DELICE DES SENS*
/*Header*/
.header-menu {
  margin-top: 20px;
  text-align: center;
}

.header_logo h1 {
  margin-top: 20px;
  font-size: 2rem;
}

.tag img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  position: relative;
}

.container_menus {
  background-color: #f1f1f1;
  width: 100%;
  height: 1450px;
  border-radius: 25px 25px 0 0;
  position: absolute;
  margin-top: -30px;
  margin-right: 0;
}
@media screen and (min-width: 600px) {
  .container_menus {
    width: 600px;
    height: 1650px;
  }
}
@media screen and (min-width: 768px) {
  .container_menus {
    width: 768px;
    height: 1650px;
  }
}
@media screen and (min-width: 992px) {
  .container_menus {
    width: 992px;
    height: 1660px;
  }
}
@media screen and (min-width: 1230px) {
  .container_menus {
    width: 1200px;
    height: 650px;
  }
}
@media screen and (min-width: 1390px) {
  .container_menus {
    width: 1440px;
    height: 690px;
  }
}

.menus-title {
  font-weight: normal;
  font-size: 1.6rem;
  margin: 30px 10px 30px 20px;
}

/*COEUR ANIME*/
.heart_icon1 {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
  position: absolute;
  right: 1.3rem;
  top: 1.5rem;
}

.heart_icon1 .heart-full {
  position: absolute;
  fill: url(#textfill);
  stroke: none;
}

.heart_icon1 .heart-empty {
  position: relative;
}

.heart_icon1 .heart-empty:hover {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*.heart_icon1 {
    fill: transparent;
    stroke: var(--purple);
    stroke-width: 18;
    cursor: pointer;
    position: absolute;
    right: 1.3rem;
    top: 1.5rem;
} 

svg {
    overflow: visible;
    width: 30px;
}

path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
}

.heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
}

.heart-main:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
}

.heart-main:hover ~ .heart-background path {
    animation: fade-animation 2s ease-in-out forwards;
}

@keyframes stroke-animation {
    0% {
      stroke-dashoffset: 0;
    }
    30% {
      stroke-dashoffset: 1550;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: var(--purple);
      transform: scale(1.1);
    }
    90% {
      transform: scale(1);
    }
    100% {
      stroke-dashoffset: 3100;
      fill: var(--purple);
    }
  }

@keyframes fade-animation {
    70% {
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: var(--purple-light);
      transform: scale(1.1);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
}

/*MENUS*/
@media screen and (min-width: 576px) {
  .menus {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas: "section_title1" "section_title2" "section_title3" "entree-1" "plat-4" "dessert-7" "entree-2" "plat-5" "dessert-8" "entree-3" "plat-6" "dessert-9";
    width: 576px;
  }
}
@media screen and (min-width: 600px) {
  .menus {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(11, 0.8fr);
    grid-gap: 0;
    grid-template-areas: "section_title1" "entree-1" "entree-2" "entree-3" "section_title2" "plat-4" "plat-5" "plat-6" "section_title3" "dessert-7" "dessert-8" "dessert-9";
    width: 600px;
  }
}
@media screen and (min-width: 768px) {
  .menus {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(11, 0.5fr);
    grid-template-areas: "section_title1" "entree-1" "entree-2" "entree-3" "section_title2" "plat-4" "plat-5" "plat-6" "section_title3" "dessert-7" "dessert-8" "dessert-9";
    min-width: 768px;
  }
}
@media screen and (min-width: 992px) {
  .menus {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(11, 0.7fr);
    grid-template-areas: "section_title1" "entree-1" "entree-2" "entree-3" "section_title2" "plat-4" "plat-5" "plat-6" "section_title3" "dessert-7" "dessert-8" "dessert-9";
    min-width: 992px;
  }
}
@media screen and (min-width: 1230px) {
  .menus {
    display: grid;
    grid-template-columns: 405px 405px 405px;
    grid-template-rows: repeat(4, 0.7fr);
    grid-gap: 0;
    grid-template-areas: "section_title1 section_title2 section_title3" "entree-1 plat-4 dessert-7" "entree-2 plat-5 dessert-8 " "entree-3 plat-6 dessert-9";
    min-width: 1230px;
  }
}
@media screen and (min-width: 1390px) {
  .menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "section_title1 section_title2 section_title3" "entree-1 plat-4 dessert-7" "entree-2 plat-5 dessert-8 " "entree-3 plat-6 dessert-9";
    min-width: 1440px;
  }
}

.section_title1 {
  grid-area: section_title1;
}

.section_title2 {
  grid-area: section_title2;
}

.section_title3 {
  grid-area: section_title3;
}

.entree-1 {
  grid-area: entree-1;
}

#entree-2 {
  grid-area: entree-2;
}

#entree-3 {
  grid-area: entree-3;
}

.entree-4 {
  grid-area: entree-4;
}

#plat-4 {
  grid-area: plat-4;
}

#plat-5 {
  grid-area: plat-5;
}

#plat-6 {
  grid-area: plat-6;
}

#dessert-7 {
  grid-area: dessert-7;
}

#dessert-8 {
  grid-area: dessert-8;
}

#dessert-9 {
  grid-area: dessert-9;
}

/*TITRES SOULIGNES BARRE VERTE*/
.section_title1 {
  font-size: 30px;
  font-weight: 100;
  position: relative;
  margin: 15px;
}

.section_title1::before {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 50px;
  height: 7px;
  bottom: 0;
  margin-bottom: -10px;
}
@media screen and (min-width: 600px) {
  .section_title1::before {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section_title1::before {
    margin-bottom: -5px;
  }
}
@media screen and (min-width: 992px) {
  .section_title1::before {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1230px) {
  .section_title1::before {
    margin-bottom: -12px;
  }
}
@media screen and (min-width: 1390px) {
  .section_title1::before {
    margin-bottom: 30px;
  }
}

.section_title2 {
  font-size: 30px;
  font-weight: 100;
  position: relative;
  margin: 15px;
}

.section_title2::before {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 50px;
  height: 7px;
  bottom: 0;
  margin-bottom: -10px;
}
@media screen and (min-width: 600px) {
  .section_title2::before {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section_title2::before {
    margin-bottom: -5px;
  }
}
@media screen and (min-width: 992px) {
  .section_title2::before {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1230px) {
  .section_title2::before {
    margin-bottom: -12px;
  }
}
@media screen and (min-width: 1390px) {
  .section_title2::before {
    margin-bottom: 30px;
  }
}

.section_title3 {
  font-size: 30px;
  font-weight: 100;
  position: relative;
  margin: 15px;
}

.section_title3::before {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 50px;
  height: 7px;
  bottom: 0;
  margin-bottom: -10px;
}
@media screen and (min-width: 600px) {
  .section_title3::before {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section_title3::before {
    margin-bottom: -5px;
  }
}
@media screen and (min-width: 992px) {
  .section_title3::before {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1230px) {
  .section_title3::before {
    margin-bottom: -12px;
  }
}
@media screen and (min-width: 1390px) {
  .section_title3::before {
    margin-bottom: 30px;
  }
}

/*CHECKBOX*/
.resto_item {
  display: flex;
  align-items: center;
}

.resto_item:hover .check_box i {
  transform: rotate(1turn);
  transition: all 500ms ease-in-out;
}

.resto_item:hover .check_box {
  animation: item-appear 700ms forwards;
  transform: scale(1);
}

.resto_item:hover .menus_description--price {
  animation: slide-left 0.5s forwards;
  font-size: 1.3rem;
}

.resto_item:hover .title-subtitle-txt {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes item-appear {
  from {
    transform: translate(25px);
  }
  to {
    transform: translate(0);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
.menus_description {
  width: 93%;
  border-radius: 20px;
  height: 90px;
  border: 0 solid #fff;
  box-shadow: 1px 3px 3px #d6d6d6;
  background-color: #fff;
  margin: 4%;
  display: flex;
  justify-content: space-between;
  animation: slide-in-bottom 1500ms 100ms;
}
@media screen and (min-width: 600px) {
  .menus_description {
    margin: 3%;
  }
}
@media screen and (min-width: 992px) {
  .menus_description {
    margin: 2%;
  }
}
@media screen and (min-width: 1230px) {
  .menus_description {
    width: 87%;
    margin: 3%;
  }
}
@media screen and (min-width: 1390px) {
  .menus_description {
    margin: 3%;
    width: 93%;
  }
}

.menus_description--price {
  font-size: 1.1rem;
  font-weight: 900;
  margin-right: 15px;
  margin-top: 40px;
  transform: translateX(80px);
}

.menus_description--title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.menus_description--subtitle {
  margin-top: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-subtitle-txt {
  font-size: 1.1rem;
  margin-left: 3%;
  width: 80%;
  overflow: hidden;
}

.check_box {
  width: 100px;
  height: 90px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  color: #fff;
  border-radius: 0 20px 20px 0;
  transform: scale(0);
  transition: all 500ms 200ms ease-in;
}

/*APPARITION DES MENUS*/
.menu_list {
  animation: slide-in-bottom 0.5s ease forwards;
}

#entree-1 {
  animation: slide-in-bottom 1500ms 100ms;
}

#entree-2 {
  animation: slide-in-bottom 1500ms 200ms;
}

#entree-3 {
  animation: slide-in-bottom 1500ms 300ms;
}

#entree-4 {
  animation: slide-in-bottom 1500ms 300ms;
}

#plat-4 {
  animation: slide-in-bottom 1500ms 400ms;
}

#plat-5 {
  animation: slide-in-bottom 1500ms 500ms;
}

#plat-6 {
  animation: slide-in-bottom 1500ms 600ms;
}

#dessert-7 {
  animation: slide-in-bottom 1500ms 700ms;
}

#dessert-8 {
  animation: slide-in-bottom 1500ms 800ms;
}

#dessert-9 {
  animation: slide-in-bottom 1500ms 900ms;
}

#dessert-10 {
  animation: slide-in-bottom 1500ms 1000ms;
}

/*BTN COMMANDER*/
.command_button {
  width: 220px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(to left, #ff79DA, #9356DC);
  font-size: 1rem !important;
  font-weight: bold;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 20px;
  background-size: 200%;
  transition: 0.6s;
  cursor: pointer;
}
.command_button:hover {
  border-radius: 30px;
  background-position: right;
  transform: translate(0, -6px);
}

/*  border-radius: 45px;
    background-image: linear-gradient(to left, $color-secondary, $color-primary);
    font-size: 20px !important;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 30px 30px;
    background-size: 200%;
    transition: 0.6s;
   /* position: relative;
    z-index: 1;*
    cursor: pointer;    
    &:hover{
        border-radius: 45px;
        background-position: right;
        transform: translate(0, -6px);
    }
}    

       /* &::after{
            border-radius: 45px;
            opacity: 1;
    }
}
 /*   &::after{
   border-radius: 45px;
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: auto;
   height: auto;
   background: #9356dc;
   background: linear-gradient(209deg,#9356dc 10%, #ff79da 90%);
   opacity: 0;
   z-index: -1;
   transition: opacity .250ms;
  }
}*/
form {
  margin: auto;
  text-align: center;
}

/*FOOTER*/
.menu_footer {
  background-color: #353535;
  padding-bottom: 30px;
  font-size: 1rem;
  color: white;
  height: auto;
  margin-top: 1420px;
  cursor: pointer;
}
.menu_footer h1 {
  margin-top: 0;
  padding-top: 20px;
  padding-left: 40px;
  margin-bottom: 15px;
  font-family: "Shrikhand";
}
.menu_footer ul {
  list-style: none;
  line-height: 1rem;
}
.menu_footer i {
  font-size: 1.2rem;
  width: 1.6rem;
  color: white;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  margin-right: 15px;
}
.menu_footer a {
  color: white;
  font-style: normal;
}
.menu_footer li {
  margin-bottom: 15px;
  font-size: 1rem;
}
@media screen and (min-width: 576px) {
  .menu_footer {
    margin-top: 1420px;
  }
}
@media screen and (min-width: 600px) {
  .menu_footer {
    margin-top: 1620px;
  }
}
@media screen and (min-width: 768px) {
  .menu_footer {
    margin-top: 1620px;
  }
}
@media screen and (min-width: 992px) {
  .menu_footer {
    margin-top: 1630px;
  }
}
@media screen and (min-width: 1230px) {
  .menu_footer {
    margin-top: 620px;
  }
}
@media screen and (min-width: 1390px) {
  .menu_footer {
    margin-top: 660px;
  }
}

.footer_bloc:hover .foot_news {
  text-decoration: underline;
}

/*MENU LA NOTE ENCHANTEE*/
.container_menus1 {
  background-color: #f1f1f1;
  width: 100%;
  height: 1575px;
  border-radius: 25px 25px 0 0;
  position: absolute;
  margin-top: -30px;
  margin-right: 0;
}
@media screen and (min-width: 600px) {
  .container_menus1 {
    width: 600px;
    height: 1770px;
  }
}
@media screen and (min-width: 768px) {
  .container_menus1 {
    width: 768px;
    height: 1780px;
  }
}
@media screen and (min-width: 992px) {
  .container_menus1 {
    width: 992px;
    height: 1780px;
  }
}
@media screen and (min-width: 1230px) {
  .container_menus1 {
    width: 1200px;
    height: 760px;
  }
}
@media screen and (min-width: 1390px) {
  .container_menus1 {
    width: 1440px;
    height: 820px;
  }
}

.footer_bloc:hover .foot_news {
  text-decoration: underline;
}

.menu_footer1 {
  background-color: #353535;
  padding-bottom: 30px;
  font-size: 1rem;
  color: white;
  height: auto;
  margin-top: 1540px;
  cursor: pointer;
}
.menu_footer1 h1 {
  margin-top: 0;
  padding-top: 20px;
  padding-left: 40px;
  margin-bottom: 15px;
  font-family: "Shrikhand";
}
.menu_footer1 ul {
  list-style: none;
  line-height: 1rem;
}
.menu_footer1 i {
  font-size: 1.2rem;
  width: 1.6rem;
  color: white;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  margin-right: 15px;
}
.menu_footer1 a {
  color: white;
  font-style: normal;
}
.menu_footer1 li {
  margin-bottom: 15px;
  font-size: 1rem;
}
@media screen and (min-width: 576px) {
  .menu_footer1 {
    margin-top: 1540px;
  }
}
@media screen and (min-width: 600px) {
  .menu_footer1 {
    margin-top: 1740px;
  }
}
@media screen and (min-width: 768px) {
  .menu_footer1 {
    margin-top: 1750px;
  }
}
@media screen and (min-width: 992px) {
  .menu_footer1 {
    margin-top: 1750px;
  }
}
@media screen and (min-width: 1230px) {
  .menu_footer1 {
    margin-top: 730px;
  }
}
@media screen and (min-width: 1390px) {
  .menu_footer1 {
    margin-top: 790px;
  }
}

/*# sourceMappingURL=style.css.map */
