/*définition de la police*/


body{
    background-color: rgb(241, 231, 201);
    margin: 0px;
    padding: 0px;
}

.cup{
    height: 160px;
    width: 190px;
    border: 4px solid rgb(241, 231, 201) ;
    position: absolute;
    top: 40%;
    left: 42%;
    border-radius: 0px 0px 70px 70px;
    background: url(./img/coffee.png);
    box-shadow: 0px 0px 0px 5px #99E2D0;
    background-repeat: repeat-x;
    background-position: 0px 140px;
    animation: fill 3s infinite;
}

@keyframes fill {
    0%{ background-position: 0px 140px;}
    20%{ background-position: -450px 100px;}
    40%{ background-position: -900px 50px;}
    80%{ background-position: -1350px -40px;}
    100%{background-position: 0px 140px;}
}
.handle{
    height: 70px;
    width: 40px;
    background-color: transparent;
    border: 6px solid #99E2D0;
    position: absolute;
    right: 70px;
    bottom: 50px;
    border-radius: 0px 25px 80px 0px;
}
.saucer{
    border-bottom: 4px solid #99E2D0;
    width: 100px;
    left: 42%;
    top:50% ;
    border-radius: 10px 0px 0px 10px;
}