/*Définition des polices*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$font-logo-titre:"Shrikland",cursive;
$font-txt: "Roboto",sans-serif;

h1{
    font-family: $font-logo-titre;
    font-weight: normal;
}

h2, h3, h4, p, li, div, a{
    font-family: $font-txt;
}

a{
    text-decoration: none;
}