/*loader spinner*/

.spinner {
  height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 20;
  animation: spinner 2s linear ;
  visibility: hidden;
     &__border {
                   @include flexbox-center;
                   border: 10px solid transparent;
                   border-top: 10px solid $color-tertiary;
                   border-bottom: 10px solid $color-secondary;
                   border-radius: 50%;
                   width: 100px;
                   height: 100px;
                   margin: auto;
                   position: fixed;
                   top: 0; left: 0; right: 0; bottom: 0;
                   animation: spinner-border 2s linear ;
                   z-index: 10;
                   visibility: hidden;
  }
      &__center {
               width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $color-primary;
  
  }
}

@keyframes spinner {
  0% {
      visibility: visible;
      opacity: 0.9;
  }
  70% {
      opacity: 0.9;
  }
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

@keyframes spinner-border {
  0% {
      visibility: visible;
      opacity: 1;
  }
  70% {
      opacity: 1;
  }
  100% {
      transform: rotate(360deg);
      opacity: 0;
      visibility: hidden;
  }
}

/*FONDU ACCUEIL*/
  .accueil{
    position: relative;
   /* animation: fade-in 5s ease-in;*/
}

@keyframes fade-in{
    from{  opacity:0; } 
    
    to{  opacity:1; }
}

/*BOUTONS*/
.present_button{  /*command_button*/  
    width: 220px; 
    height: 50px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to left, $color-secondary, $color-primary);
    font-size: 1rem !important;
    font-weight: bold;
    color: #fff;   
    margin-top: 25px;
    margin-bottom: 35px;
    margin-right: 65px;
    margin-left: 65px;
    background-size: 200%;
    transition: 0.6s;
    cursor: pointer;    
    &:hover{
        border-radius: 30px;
        background-position: right;
        transform: translate(0, -6px);
    }
} 

/*COEUR ANIME*/

.animate_heart{
  width: 30px;
  stroke-width: 30;
  stroke:black;
  fill: white;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.animate_heart .heart-full {
  position: absolute;
  fill: url(#textfill);
  stroke: none;
}

.animate_heart .heart-empty {
  position: relative;
}

.animate_heart .heart-empty:hover {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*.heart_icon {
    fill: transparent;
    stroke: /*var(--purple)*  linear-gradient(to right, #ff79DA, #9356DC);
    stroke-width: 20;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
} 

svg {
    overflow: visible;
    width: 30px;  
}
  
path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
}
  
.heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
}
  
.heart-main:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
}
  
.heart-main:hover ~ .heart-background path {
    animation: fade-animation 2s ease-in-out forwards;
}
  
@keyframes stroke-animation {
    0% {
      stroke-dashoffset: 0;
    }
    30% {
      stroke-dashoffset: 1550;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: linear-gradient(to right, #ff79DA, #9356DC);
      
      transform: scale(1.1);
    }
    90% {
      transform: scale(1);
    }
    100% {
      stroke-dashoffset: 3100;
      fill: /*var(--purple)*linear-gradient(to right, #ff79DA, #9356DC);
    }
  }
  
@keyframes fade-animation {
    70% {
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: var(--purple-light);
      transform: scale(1.1);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
}

/*EFFET CHECK BOX*/

.resto_item:hover .check_box i {
    transform: rotate(1turn);
     transition: all 500ms ease-in-out;
  }
  
.resto_item:hover .check_box{
 animation: item-appear 700ms forwards;
  transform: scale(1);}

.resto_item:hover .menus__description--price {
  animation: slide-left 0.5s forwards ;
  /*transform: translateX(0);*/
  font-size: 1.3rem;
}
.resto_item:hover .title-subtitle-txt{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes item-appear {
  from{ transform: translate(25px);}
  to{transform: translate(0);}
}  

@keyframes slide-left {
  0% {
            transform: translateX(0);
  }
  100% {
            transform: translateX(5px);
  }
}

/*APPARITION PROGRESSIVE DES MENUS*/
.menu_list{
  animation: slide-in-bottom 5s ease-in-out forwards;
  animation: opacity 1s both;
}

@keyframes slide-in-bottom {
  
  0% {
            transform: translateY(25px);
    opacity: 0;
  }
  100% {
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
            transform: translateY(25px);
    opacity: 0;
  }
  100% {
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#entree-1{
  animation: slide-in-bottom 1500ms 100ms;
  opacity: 0.1 s;
}

#entree-2{
  animation: slide-in-bottom 1500ms 200ms;
  opacity: 0.2 s;

}
#entree-3{
  animation: slide-in-bottom 1500ms 300ms;
  opacity: 0.3 s;
}
#entree-4{
  animation: slide-in-bottom 1500ms 300ms;
  opacity: 0.3 s;
}

#plat-4{
   animation: slide-in-bottom 1500ms 400ms;
   opacity: 0.4 s;
}

#plat-5{
   animation: slide-in-bottom 1500ms 500ms;
   opacity: 0.5 s;
}

#plat-6{
   animation: slide-in-bottom 1500ms 600ms;
   opacity: 0.6 s;
}

#dessert-7{
   animation: slide-in-bottom 1500ms 700ms;
   opacity: 0.7 s;
}

#dessert-8{
  animation: slide-in-bottom 1500ms 800ms;
  opacity: 0.8 s;
}

#dessert-9{
  animation: slide-in-bottom 1500ms 900ms;
  opacity: 0.9 s;
}

#dessert-10{
   animation: slide-in-bottom 1500ms 1000ms;
   opacity: 1 s;
}
