/*loader spinner*/
.load_cup {      
    height: 140px;
    width: 200px;
    border: 6px solid #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: 50%;
    left: 25%;  
    right: 50%;
    border-radius: 0px 0px 70px 70px;
    background: url(/img/coffee.png);
    box-shadow: 0px 0px 0px 6px #99E2D0;
    background-repeat: repeat-x;
    background-position: 0px 140px;
    animation: fill 3s ease-in-out forwards; 
  }
           
  
  @keyframes fill {
      0% {
          background-position:  0px 140px;   
      }
      20% {
          background-position: -450px 100px;    
      }
      40%{
          background-position: -900px 50px;
      }
      80%{
          background-position: -1350px -40px;    
      }
      100%{
          background-position: 0px 140px;
          opacity: 0;
      }
  }
  
  /*.load_handle{
      height: 70px;
      width: 40px;
      z-index: 10001;
      background-color: transparent;
      border: 6px solid $color-tertiary;
      position: absolute;
      left: 730px;
      bottom: 320px;
      border-radius: 0px 25px 80px 0px;   
  } */
  
  .cup_of_coffee{   
      z-index: 1;
      animation: fade-out 6s forwards;
     /* overflow: hidden;
      animation: fill 3s ease-in-out infinite;*/
     animation-delay: 5s;
  }

  @keyframes fade-out{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}

/*FONDU ACCUEIL*/
  .accueil{
    position: relative;
    animation: fade-in 5s ease-in;
}

@keyframes fade-in{
    from{  opacity:0; } 
    
    to{  opacity:1; }
}

/*BOUTONS*/
.present_button{  /*command_button*/  
    width: 220px; 
    height: 50px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to left, $color-secondary, $color-primary);
    font-size: 1rem !important;
    font-weight: bold;
    color: #fff;   
    margin-top: 25px;
    margin-bottom: 35px;
    margin-right: 65px;
    margin-left: 65px;
    background-size: 200%;
    transition: 0.6s;
    cursor: pointer;    
    &:hover{
        border-radius: 30px;
        background-position: right;
        transform: translate(0, -6px);
    }
} 

/*COEUR ANIME*/

.animate_heart{
  width: 30px;
  stroke-width: 30;
  stroke:black;
  fill: white;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.animate_heart .heart-full {
  position: absolute;
  fill: url(#textfill);
  stroke: none;
}

.animate_heart .heart-empty {
  position: relative;
}

.animate_heart .heart-empty:hover {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*.heart_icon {
    fill: transparent;
    stroke: /*var(--purple)*  linear-gradient(to right, #ff79DA, #9356DC);
    stroke-width: 20;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
} 

svg {
    overflow: visible;
    width: 30px;  
}
  
path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
}
  
.heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
}
  
.heart-main:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
}
  
.heart-main:hover ~ .heart-background path {
    animation: fade-animation 2s ease-in-out forwards;
}
  
@keyframes stroke-animation {
    0% {
      stroke-dashoffset: 0;
    }
    30% {
      stroke-dashoffset: 1550;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: linear-gradient(to right, #ff79DA, #9356DC);
      
      transform: scale(1.1);
    }
    90% {
      transform: scale(1);
    }
    100% {
      stroke-dashoffset: 3100;
      fill: /*var(--purple)*linear-gradient(to right, #ff79DA, #9356DC);
    }
  }
  
@keyframes fade-animation {
    70% {
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: var(--purple-light);
      transform: scale(1.1);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
}

/*EFFET CHECK BOX*/

.resto_item:hover .check_box i {
    transform: rotate(1turn);
     transition: all 500ms ease-in-out;
  }
  
.resto_item:hover .check_box{
 animation: item-appear 700ms forwards;
  transform: scale(1);}

.resto_item:hover .menus__description--price {
  animation: slide-left 0.5s forwards ;
  /*transform: translateX(0);*/
  font-size: 1.3rem;
}
.resto_item:hover .title-subtitle-txt{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes item-appear {
  from{ transform: translate(25px);}
  to{transform: translate(0);}
}  

@keyframes slide-left {
  0% {
            transform: translateX(0);
  }
  100% {
            transform: translateX(5px);
  }
}
/*APPARITION PROGRESSIVE DES MENUS*/
.menu_list{
  animation: slide-in-bottom 5s ease-in-out forwards;
  animation: opacity 1s both;
}

@keyframes slide-in-bottom {
  
  0% {
            transform: translateY(25px);
    opacity: 0;
  }
  100% {
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
            transform: translateY(25px);
    opacity: 0;
  }
  100% {
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#entree-1{
  animation: slide-in-bottom 1500ms 100ms;
  opacity: 0.1 s;
}
#entree-2{
  animation: slide-in-bottom 1500ms 200ms;
  opacity: 0.2 s;

}
#entree-3{
  animation: slide-in-bottom 1500ms 300ms;
  opacity: 0.3 s;
}
#plat-4{
   animation: slide-in-bottom 1500ms 400ms;
   opacity: 0.4 s;
}
#plat-5{
   animation: slide-in-bottom 1500ms 500ms;
   opacity: 0.5 s;
}
#plat-6{
   animation: slide-in-bottom 1500ms 600ms;
   opacity: 0.6 s;
}
#dessert-7{
   animation: slide-in-bottom 1500ms 700ms;
   opacity: 0.7 s;
}
#dessert-8{
  animation: slide-in-bottom 1500ms 800ms;
  opacity: 0.8 s;
}
#dessert-9{
  animation: slide-in-bottom 1500ms 900ms;
  opacity: 0.9s;
}
#dessert-10{
   animation: slide-in-bottom 1500ms 1000ms;
   opacity: 1 s;
}
